div.sala-card {
    display: flex;
    flex-direction: row;
}

div.sala-card ul {
    list-style-type: none;
}

header {
  margin: 0.5em auto auto auto;
}

input.reservar {
  margin: auto;
}

main {
    min-height: 80%
}

div.container {
  width: 100%;
}

#nome_usuario {
  margin: auto;
}

.reservar > input {
  margin: auto;
}

footer {
    height: 20%;
    margin: auto auto 0 auto;
}

abbr[title] {
    text-decoration: none !important;
}

table {
    margin: auto;
}

main {
  margin-top: 2em;
}

#table-salas tr {
  margin: 0.25em 0 0.25em 0;
}

#table-salas td {
  padding: 0 0.5em 0 0.5em;
}

tr.reserva td,
th {
  padding-left: 1.75em;
}

/* CSS para tela de cadastro de sala */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

div.center {
  text-align: center;
  margin-bottom: 0.75em;
}

#div_user_logado {
  display: flex;
}